@import url('https://fonts.googleapis.com/css?family=Roboto');
body {   
  
  
  
  
  
  
  background: linear-gradient(to right, #000000 0%, #0016a7 100%);
  overflow-x: hidden; font-family: roboto; -webkit-font-smoothing: antialiased; margin: 0;}
.flex { display: -webkit-flex; display: flex; -webkit-flex-direction: row;  flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start;}
    


  
  /* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  justify-content: space-between;
  background-color: rgb(138, 3, 3);
  text-align: center;
  text-align: center;
  color: white;
  font-size: 100px;
  line-height: 1px;

}

* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    justify-content: space-between;
    background-color: rgb(138, 3, 3);
    text-align: center;
    text-align: center;
    color: white;
    font-size: 100px;
    line-height: 1px;
    margin-top: 8p;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
    position: relative;
    right: 100px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #816d6d;
    color: black;
  }
  
  /* Add a color to the active/current link */


  #h1{
    font-family: 'Antonio', sans-serif;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    color: rgb(166, 166, 166);
    text-align: start;
    margin-left: 25px;
    float: left;
    
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  h1{
    margin-left: 40px;
    color: white;
  }

  #logout{
    float: right;
    margin-top: 12px;
    position: relative;
    right: 30px;
  
  }
